body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #121212;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #bb86fc;
}
.folder, .project {
    background-color: #1e1e1e;
    border-radius: 8px;
    padding: 0 20px 20px 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    flex: 1 1 30%; /* Adjusts the card size */
    max-width: 30%; /* Prevents cards from getting too large */
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.environment {
    margin-left: 20px;
    border-left: 2px solid #bb86fc;
    padding-left: 10px;
}

.search-bar {
    margin-top: 10px; /* Space above the search bar */
}

.search-bar input {
    width: 600px; /* Make the input take the full width */
    padding: 10px; /* Add some padding */
    border: none; /* Remove default border */
    border-radius: 20px; /* Rounded corners */
    background-color: #1e1e1e; /* Dark background */
    color: #ffffff; /* Text color */
    font-size: 16px; /* Font size */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow */
    transition: all 0.3s ease; /* Smooth transition for hover effect */
}

.search-bar input:focus {
    outline: none; /* Remove outline on focus */
    background-color: #2e2e2e; /* Change background on focus */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Enhanced shadow on focus */
}

#date {
    margin-bottom: 20px;
}

#top-div {
    display: flex;
    flex-direction: column; /* Align items vertically */
    align-items: center;    /* Center horizontally */
    justify-content: center; /* Center vertically */
    margin-bottom: 20px;    /* Space below */
}

#alerts {
    text-align: center;      /* Center text within the alerts */
    color: #FCCB86;
}

#clock-div {
    text-align: center;      /* Center text within the clock */
    color: #9B91A7;
}

#clock {
    font-size: 24px; /* Increase font size */
    font-weight: bold; /* Bold text */
    color: #bb86fc; /* Modern color */
    padding: 15px 20px; /* Add padding */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    transition: all 0.3s ease; /* Smooth transition */
}

#clock:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}