<!-- footer.hbs -->
<footer>
  <p>&copy; {{currentYear}} My Dashboard. All rights reserved.</p>
  <p>Created with love by {{teamName}}</p>
</footer>

<footer class="dashboard-footer-wrapper">
  <p>Copyright &copy; 2014 - {{meta.currentYear}} DDaaaaann
  <p>
  <p>Made with Dashly
  <p>
</footer>