<!-- footer.hbs -->
<footer>
  <div class="copyright">
    <div>
      Copyright &copy; 2024 - {{meta.copyRightYear}} - <a href="https://github.com/DDaaaaann/Dashly"
                                                          target="_blank" rel="noopener">Dashly</a>.
    </div>
    Created with love by <a href="https://www.ddaaaaann.nl" target="_blank"
                            rel="noopener">DDaaaaann</a>.
  </div>
</footer>