<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{{meta.favicon}}}
  <title>{{dashboard.title}}</title>
  <style>
      {{{inlineCss}}}
  </style>
</head>