/* ========== Global Variables ========== */
:root {
  --color-background-primary: #333333;
  --color-background-secondary: #444444;
  --color-background-tertiary: #888888;
  --color-text-secondary: #ffffff;
  --color-text-subtle: #797979;

  --color-accent-green-0: #81d3be;
  --color-accent-green-1: #70c1ac;
  --color-accent-green-2: #00ad8b;
  --color-accent-green-3: #059d7f;

  --color-accent-primary: #81d3be;

  --border-radius: 5px;
  --box-shadow: 0 0 12px 1px rgba(17, 17, 17, 0.3);
}

/* ========== Colors ========== */
.color-accent-green-0 {
  color: var(--color-accent-green-0);
}

.color-accent-green-1 {
  color: var(--color-accent-green-1);
}

.color-accent-green-2 {
  color: var(--color-accent-green-2);
}

.color-accent-green-3 {
  color: var(--color-accent-green-3);
}

body {
  background: var(--color-background-primary);
  color: var(--color-text-secondary);
  font-family: Arial, sans-serif;
  padding: 20px;
}

header {
  text-align: center;
  padding: 20px 0;
}

a {
  color: inherit;
}

hr {
  margin-bottom: 0;
}

h1 {
  color: var(--color-text-secondary);
}

/* ========== Navigation ========== */
.section-nav {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.section-link {
  padding: 10px;
  background: var(--color-background-secondary);
  color: var(--color-text-secondary);
  text-decoration: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.section-link:hover {
  background: var(--color-background-tertiary);
}

.section-link.active {
  background-color: var(--color-accent-green-1); /* Highlight the active link */
  color: #101010;
}

/* ========== Section Visibility ========== */
.section {
  display: none;
}

.section.active {
  display: grid;
}

/* ========== Grid Layouts ========== */
.grid-3,
.grid-4 {
  padding: 2vh 5%;
  grid-column-gap: 3vw;
  row-gap: 5vh;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

/* ========== Blocks & Containers ========== */
.block {
  background-color: var(--color-background-secondary);
  padding: 10px;
  width: 95%;
  margin: 0 auto;
  border-radius: 4px;
  overflow-y: auto;
  box-shadow: var(--box-shadow);
}

.block-title {
  font-size: 20px;
  margin: 0;
  font-weight: normal;
  min-width: 100px;
}

/* ========== Links ========== */
.links {
  padding: 0;
}

.link {
  color: var(--color-text-secondary);
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.link-list-item {
  align-items: center;
  display: flex;
  height: 2em;
  justify-content: center;
  line-height: 2em;
  list-style-type: none;
  margin: 1vh 0 1vh 0;
  text-align: center;
  width: 100%;
}

.link-list-item:hover {
  background-color: var(--color-background-tertiary);
}

/* ========== Search Fields ========== */
.search-fields form {
  margin-top: 10px;
}

input {
  width: -webkit-fill-available;
  margin-top: 10px;
  padding: 5px;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
}

/* ========== Footer ========== */
footer {
  justify-content: center;
  text-align: center;
  margin: 0 5rem;
  padding-top: 60px;
}

.copyright {
  color: var(--color-text-subtle);
  font-size: 0.8em;
}

/* ========== Responsive Design ========== */
@media (max-width: 1024px) {
  .block {
    flex: 1 1 calc(50% - 1rem); /* 2 blocks per row */
  }
}

@media (max-width: 600px) {
  .block {
    flex: 1 1 100%; /* 1 block per row */
  }
}