/* ========== Global Variables ========== */
:root {
  --color-background-primary: #121212;
  --color-background-secondary: #1e1e1e;
  --color-text-primary: #bb86fc;
  --color-text-secondary: #ffffff;
  --color-text-subtle: #9b91a7;
  --color-input: #272727;
  --color-input-hover: #2e2e2e;
  --border-radius: 8px;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* ========== Colors ========== */
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: var(--color-background-primary);
  color: var(--color-text-secondary);
}

a {
  text-decoration: none;
  color: var(--color-text-primary);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

/* ========== Sections & Blocks ========== */
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.block {
  background-color: var(--color-background-secondary);
  border-radius: var(--border-radius);
  padding: 0 20px 20px;
  margin: 10px;
  box-shadow: var(--box-shadow);
  flex: 1 1 30%;
  max-width: 30%;
  box-sizing: border-box;
}

.group {
  margin-left: 20px;
  border-left: 2px solid var(--color-text-primary);
  padding-left: 10px;
}

.group h4 {
  margin-bottom: 10px;
}

/* ========== Search Fields ========== */
.search-bar {
  width: 90%;
  margin: 10px 0;
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: var(--color-input);
  color: var(--color-text-secondary);
  font-size: 16px;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-bar:hover,
.search-bar:focus,
.search-bar:focus-visible {
  background-color: var(--color-input-hover);
  outline: none;
  border: 1px solid var(--color-text-primary);
}

.group .search-bar {
  margin: 0;
  padding: 5px 10px;
}

/* ========== Clock ========== */
#clock {
  font-size: 24px;
  font-weight: bold;
  color: var(--color-text-primary);
  padding: 15px 20px;
  cursor: default;
  border-radius: 10px;
  text-align: center;
  transition: box-shadow 0.3s ease;
}

/* ========== Footer ========== */
footer {
  justify-content: center;
  text-align: center;
  margin: 0 5rem;
  padding: 60px;
}

.copyright {
  color: var(--color-text-subtle);
  font-size: 0.8em;
}