<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{{meta.favicon}}}

  {{#if title}}
    <title>{{title}}</title>
  {{else}}
    <title>Dashboard</title>
  {{/if}}

  <style>
      {{{inlineCss}}}
  </style>
</head>